#home-hero-banner {
    background: url(../img/banner/hero-banner.jpg) left center no-repeat;
    background-size: cover
}

#background-hero-banner {
    background: url(../img/banner/StudentPrivacy.jpg) left center no-repeat;
    background-size: cover
}

#health-data-hero-banner {
    background: url(../img/banner/HealthData.jpg) left center no-repeat;
    background-size: cover
}

#ferpa-hero-banner {
    background: url(../img/banner/ferpa.jpg) left center no-repeat;
    background-size: cover
}

#data-collection-hero-banner {
    background: url(../img/banner/DataCollection.jpg) left center no-repeat;
    background-size: cover
}

#software-vendors-hero-banner {
    background: url(../img/banner/SoftwareVendors.jpg) left center no-repeat;
    background-size: cover
}

#accountability-hero-banner {
    background: url(../img/banner/accountability.jpg) left center no-repeat;
    background-size: cover
}

#student-privacy-initiatives-hero-banner {
    background: url(../img/banner/StudentPrivacyInitiatives.jpg) left center no-repeat;
    background-size: cover
}
#data-breaches-initiatives-hero-banner {
    background: url(../img/banner/DataBreaches.jpg) left center no-repeat;
    background-size: cover
}

#ferpa-implementations-hero-banner {
    background: url(../img/banner/FerpaImplementations.jpg) left center no-repeat;
    background-size: cover
}

#its-privacy-hero-banner {
    background: url(../img/banner/ItsPrivacy.jpg) left center no-repeat;
    background-size: cover
}